<?xml version="1.0" encoding="utf-8"?>
<Root>
  <SaveFloder DefaultFolder="/Movies">
    <CurrentFolder>/Movies</CurrentFolder>
  </SaveFloder>
  <HistoryFile>
    <History>123</History>
    <History>456</History>
    <History>F:\CodingRoom\Unity\Boneknitting Technique\Assets\Sprites\UI\LastItem.png</History>
  </HistoryFile>
</Root>