<?xml version="1.0" encoding="UTF-8"?>
<Root>
  <SaveFloder DefaultFolder="F:/CodingRoom/Unity/Boneknitting Technique/Assets/StreamingAssets/Movies">
    <CurrentFolder>F:/CodingRoom/Unity/Boneknitting Technique/Assets/StreamingAssets/Movies</CurrentFolder>
  </SaveFloder>
  <HistoryFile>
    <History>123</History>
    <History>456</History>
    <History>F:\CodingRoom\Unity\Boneknitting Technique\Assets\Sprites\UI\LastItem.png</History>
    <History>F:\CodingRoom\Unity\Boneknitting Technique\Assets\Sprites\UI\StopAndStart.png</History>
    <History>F:\CodingRoom\Unity\Boneknitting Technique\Assets\Sprites\UI\Doctor_Chen.jpg</History>
  </HistoryFile>
</Root>